/* <div class="attribution">
   Challenge by
   <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
     >Frontend Mentor</a
   >. Coded by <a href="#">Your Name Here</a>.
 </div>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
  */

/* google font  */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

.font {
  font-family: 'League Spartan', sans-serif;
}

/* color variables 
element {
  background-color: var(--main-bg-color);
}*/
:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

/* general styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
}

.container {
  padding: 3rem 2rem;
  min-width: 20rem;
  background-image: url(/images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
}

/* top section styling   */
.top-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.main-text h1 {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  font-size: 2.5rem;
}

.main-text p {
  color: var(--Dark-Grayish-Magenta);
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 1rem 0.5rem;
}

/* reviews section styling */
.reviews {
  margin-bottom: 0.5rem;
}

.rating {
  background-color: var(--Light-Grayish-Magenta);
  padding: 0.8rem 4rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.rating p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--Very-Dark-Magenta);
}

/* bottom section  */
.bottom-desc {
  background-image: url(/images/bg-pattern-bottom-mobile.svg);
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--Very-Dark-Magenta);
  padding: 1.2rem;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
}

.card-info {
  display: flex;
  align-items: center;
  /* padding-top: 1.2rem;
  line-height: 3rem; */
}

.card img {
  border-radius: 50%;
  width: 1.8rem;
}

.card-info .info {
  padding: 1rem;
}

.card-info .info h2 {
  color: var(--white);
  font-size: 0.7rem;
}

.card-info .info p {
  font-size: 0.7rem;
  color: var(--Soft-Pink);
  padding-top: 0.2rem;
}

.card q {
  color: var(--white);
}

.card q p {
  color: var(--white);
  display: inline;
  font-size: 0.7rem;
  line-height: 1rem;
}
